* {
    margin: 0;
}

body {
    background-color: #75619D;
}

p {
    margin-top: 20px;
}

.game {
    background-color: white;
    max-width: 50%;
    max-height: 50%;
    margin: 100px auto auto auto;
    padding: 10px;
    border-radius: 10px;
}

#box {
    margin-top: 5px;
    padding: 5px;
    text-align: end;
    display: none;
}

.dark {
    font-weight: 600;
}

#personality {
    border: 1px solid #232323;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    display: flex;
    gap: 10px;
}

#moves {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

button {
    background-color: #3F2A52;
    background-image: linear-gradient(#75619D, #3F2A52);
    border: 1px solid #75619D;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

button:active {
    transform: scale(0.75);
}

#text {
    border: 1px solid #232323;
    padding: 20px;
    background-color: #1D3309;
    color: #FFFFFF;
    border-radius: 0 0 5px 5px;
    box-shadow: -1.5px 1.5px 5px 1px #232323 inset;
}